.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexContainer div.flexChild {
    width: 33.33%;
}

.footerContainer {
    height: 250px;
}

@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }

    .flexContainer div.flexChild {
        width: 100%;
    }

    .footerContainer {
        height: 500px;
    }
}